body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: blue;
margin: 0;
font-family: sans-serif;
}

.scene {
    width: 200px;
height: 300px;
perspective: 1000px;
}

.card {
width: 100%;
height: 100%;
position: relative;
transform-style: preserve-3d ;
transition: transform 1s;
}

.scene:hover .card{
    transform: rotateY(180deg);
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid rgb(178, 212, 143);
    border-radius: 10px;
}

.card__face--front {
    background-color: rgb(176, 7, 7);
}

.card__face--back {
    background-color: rgb(230, 69, 10);
    transform: rotateY(180deg);
    color: black;
}
